<%= form_for [@project, @issue], html: { multipart: true} do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h4>
      <ul>
        <% @issue.errors.full_messages.each do |msg| %>
          <li class="error-text"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group<%= @issue.errors.has_key?(:title) ? ' error' : ''  %>">
    <%= f.label :title, nil, class: "control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="form-group<%= @issue.errors.has_key?(:description) ? ' error' : ''  %>">
    <%= f.label :description, nil, class: "control-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <% number = 0 %>
  <%= f.fields_for :attachments do |attachment| %>
    <div class="form-group">
      <%= attachment.label :asset, "File ##{number += 1}", class: "control-label" %>
      <%= attachment.file_field :asset, class: "form-control" %>
    </div>
  <% end %>

  <% if @issue.new_record? %>
    <%= link_to 'Cancel', @project, class: 'btn' %>
  <% else %>
    <%= link_to 'Cancel', [@project, @issue], class: 'btn' %>
  <% end %>
  
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>