
<div class="issue-nav">
  <ol class="breadcrumb">
    <li><%= link_to @project.name, @project %></li>
    <li class="active">#<%= @issue.id %></li>
  </ol>
</div>

<div id="issue" class="panel panel-default">
  <div class="panel-heading">
    
    <div class="pull-right">
      <% authorized?("edit issues", @project) do %>
        <%= link_to [:edit, @project, @issue], class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit Issue
        <% end %>
      <% end %>
      <% authorized?("delete issues", @project) do %>
        <%= link_to [@project, @issue], method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "Are you sure you want to delete this issue?"} do %>
          <span class="glyphicon glyphicon-trash"></span>
          Delete Issue
        <% end %>
      <% end %>
    </div>
    <span class="muted creator"><img src="http://gravatar.com/avatar/<%= Digest::MD5.hexdigest(@issue.user.email.downcase) %>.png?s=32" alt="..." wdith="32px" height="32px" class="img-rounded"><small> <%= @issue.user.name %> created this issue <%= time_ago_in_words(@issue.created_at) %> ago</small></span>

    <%= render @issue.state if @issue.state %>
    
    <h3 class=""><%= @issue.title %> </h3>
    
    
  </div>

  <div class="panel-body">
    <%= simple_format(@issue.description) %>
  </div>
   

  <% if @issue.attachments.any? %>
    <div class="panel-footer attachments">
      <% @issue.attachments.each do |attachment| %>
          <%= link_to attachment.asset.url, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-paperclip"></span>
            <%= File.basename(attachment.asset.path) %>
          <% end %>
      <% end %>
    </div>
    
  <% end %>
</div>

<div id="comments">
  <% if @issue.comments.any? %>
    <%= render @issue.comments.select(&:persisted?) %>
  <% end %>
</div>




<%= render "comments/form" %>
