<%= form_for @project, role: "form" do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explaination">
      <h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li class="error-text"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= @project.errors.has_key?(:name) ? 'has-error' : ''  %>">
    <%= f.label :name, nil, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group <%= @project.errors.has_key?(:description) ? 'has-error' : ''  %>">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <% if @project.new_record? %>
    <%= link_to 'Cancel', projects_path, class: 'btn' %>
  <% else %>
    <%= link_to 'Cancel', @project, class: 'btn' %>
  <% end %>
  
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end -%>